<div class="page-header">
  <h1>Hello World</h1>
</div>

<form class="form-inline" role="form">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">{{something}}</span>
    <input type="text" class="form-control" ng-model="somebody.name">
  </div>
</form>

<hr>

<p>
  <button my-clicky-btn="hello">A button</button>

  or

  <button class="btn btn-default" bs-alert="bodyAlertObj">
    alert
  </button>

  or

  <a ui-sref="contact" data-title="click to go to contact page" data-placement="right" bs-tooltip>
    hover me
  </a>
</p>

