<table class="table table-striped" my-sortable>
  <thead>
    <tr>
      <th>name</th>
      <th>owner</th>
      <th data-predicate="createTime">creation time</th>
      <th data-predicate="clusterTemplate">template</th>
      <th data-predicate="numNodes"># of nodes</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in list | orderBy:sortable.predicate:sortable.reverse">

      <td><a ui-sref="^.detail({id: item.id})">{{item.name}}</a></td>

      <td>{{item.ownerId}}</td>

      <td>{{item.createTime | date:'short'}}</td>

      <td>{{item.clusterTemplate}}</td>

      <td>{{item.numNodes}}</td>

      <td><span class="label" ng-class="{
        'label-success': item.status==='ACTIVE',
        'label-info': item.status!=='ACTIVE'
      }">{{item.status}}</span></td>

    </tr>
  </tbody>
</table>


